{% load static %}
<body class="d-flex flex-column min-vh-100">
<div class="footer mt-auto bg-dark text-light">
    <div class="container py-3">
        <div class="row d-flex footer-items">
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-2ad97fcd rey-colbg--classic" data-id="2ad97fcd" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap--2ad97fcd elementor-widget-wrap elementor-element-populated">
                <h5>Contact Us</h5>
                <div class="elementor-background-overlay"></div>
                <div class="elementor-element elementor-element-735a2789 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="735a2789" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
			        	
                    <ul class="elementor-icon-list-items">
                            <li class="elementor-icon-list-item">
                                <a href="https://www.facebook.com/share/1294rs39vpr/?mibextid=kFxxJD">
                                <span class="elementor-icon-list-icon"><i aria-hidden="true" class="far fa-envelope"></i></span>
								<span class="elementor-icon-list-text">Facebook</span>
                                </a>
							</li>
							<li class="elementor-icon-list-item">
                                <a href="#">
                                <span class="elementor-icon-list-icon"><i aria-hidden="true" class="far fa-envelope"></i></span>
								<span class="elementor-icon-list-text">info.jannatulrikta24@gmail.com</span>
                                </a>
							</li>
							<li class="elementor-icon-list-item">
								<a href="#">
                                <span class="elementor-icon-list-icon"><i aria-hidden="true" class="fas fa-phone"></i></span>
								<span class="elementor-icon-list-text">+880 1308054501</span>
								</a>
							</li>
							<li class="elementor-icon-list-item">
								<a href="#">
                                <span class="elementor-icon-list-icon"><i aria-hidden="true" class="fas fa-location-arrow"></i></span>
								<span class="elementor-icon-list-text">142, mirpur Road, Dhaka-1205.</span>
								</a>
							</li>
					</ul>
				</div>
				</div>
                </div>
		    </div>
       </div>
       <div class="row text-center">
         <span>SRK Fashion House</span>
       </div>
    </div>

</div>
</body>
