{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 10px 20px;">
  <div class="container-fluid">
    <a class="navbar-brand text-success fw-bold" href="/" style="font-size: 1.5rem;">Srk Fashion House</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="align-items: center;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu bg-dark border-secondary" aria-labelledby="navbarDropdown">
            <li><a href="{% url 'shop' %}?category=children" class="dropdown-item {% if category == 'children' %}active bg-success text-white{% endif %}" style="color: #aaa;">Children</a></li>
            <li><a href="{% url 'shop' %}?category=men" class="dropdown-item {% if category == 'men' %}active bg-success text-white{% endif %}" style="color: #aaa;">Men</a></li>
            <li><a href="{% url 'shop' %}?category=women" class="dropdown-item {% if category == 'women' %}active bg-success text-white{% endif %}" style="color: #aaa;">Women</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="{% url 'shop' %}" class="dropdown-item {% if not category %}active bg-success text-white{% endif %}" style="color: #aaa;">All</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light fw-bold" href="{% url 'cart' %}" tabindex="-1" style="position: relative;">
            Cart<i class="bi bi-cart-plus-fill ms-1"></i>
          </a>
        </li>
      </ul>
      <form class="d-flex search-form ms-auto" style="width: 250px;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="border-radius: 20px;">
        <button class="btn btn-success" type="submit" style="border-radius: 50%;">
          <i class="bi bi-search"></i>
        </button>
      </form>
      {% if user.is_authenticated %}
      <ul class="navbar-nav mb-2 mb-lg-0 mx-lg-2 order-sm-last">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light fw-bold" href="#" id="myaccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Account
          </a>
          <ul class="dropdown-menu bg-dark border-secondary text-light" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-light" href="/#" data-bs-toggle="modal" data-bs-target="#exampleModal">My Orders</a></li>
            <li><a class="dropdown-item text-light" href="/#" data-bs-toggle="modal" data-bs-target="#exampleModal">{{ user }} Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-light" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
      </ul>
      {% else %}
      <a href="{% url 'signup' %}" class="btn nav-item1" style="background-color: #3a3a3a; border-color: #000000; font-weight: bold; color: white;">Register</a>
      <a href="{% url 'login' %}" class="btn nav-item1" style="background-color: #3a3a3a; border-color: #000000; font-weight: bold; color: white;">Login</a>
      {% endif %}

    </div>
  </div>
</nav>